.profile-pic {
  width: 350px;
  border: 0px solid white;
  box-shadow: 2px 2px 5px #888888;
}
.home-intro {
  font-size: 5rem;
  font-weight: 400;
  padding: 1rem
}
.v-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.nav-logo {
  max-width: 50px;
  margin: 10px;
}
.nav-tab a {
  padding: 1.5rem;
  font-size: 1.5rem;
  display: inline-block;
  &.active {
    border-bottom: 2px solid;
  }
}
.social-icons {
  font-size: 3rem;
  float: right;
  margin-top: 1rem;
  display: block;
  a {
    margin-left: 1rem;
  }
}
.fa-linkedin {
  color: #0077b5;
}
.fa-instagram {
  color: #3f729b;
}
.fa-github {
  color: #4183c4;
}
.fa-twitter {
  color: #55acee;
}
.preview {
  position: relative;
}

.status {
  padding: 5px 10px;
  display: inline-block;
  background-color: $primary-base;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0px 5px 0px 5px;
}

/* card layout */
#columns {
  column-width: 320px;
  column-gap: 30px;
  width: 90%;
  margin: 40px auto;
}

div#columns figure {
  background: #fefefe;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 0 30px;
  transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
  border-radius: 5px;
}

div#columns figure img {
  width: 100%; height: auto;
  max-width: 500px;
  border-top-left-radius: 5px;
  border-radius: 5px 5px 0 0;
}

div#columns figure figcaption {
  font-size: .9rem;
  color: #444;
  line-height: 1.5;
  padding: 15px;
  h2{
    font-size: 1rem;
    margin-top: 0;
  }
  .tag {
    @extend .pri-bd;
    color: $primary-base;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
  }
}

div#columns small { 
  font-size: 1rem;
  float: right; 
  text-transform: uppercase;
  color: #aaa;
} 

div#columns small a { 
  color: #666; 
  text-decoration: none; 
  transition: .4s color;
}

// div#columns:hover figure:not(:hover) {
//   opacity: 0.8;
// }

video {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0px 0px;
}
div#columns figure .image-sec
 {
  margin-top: 1rem;
  border-radius: 0px;
}

.press {
  padding: 2rem;
  article {
    margin-bottom: 4rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.5rem;
  }
}

@media(max-width: 1350px) {
  .home-intro {
    font-size: 3rem;
  }
  .profile-pic {
    width: 250px;
  }
}

// @media(max-width: 1024px) {
//   .home-intro {
//     font-size: 3rem;
//   }
// } 

@media(max-width: 960px) {
  .profile-pic {
    width: 200px;
  }
  .home-center {
    position: relative;
    top: 3rem;
    transform: none;
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 750px) { 
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}

/* end if card layout */

@media(max-width: 640px) {
  .home-intro {
    font-size: 2.5rem;
    text-align: center;
  }
  .social-icons { 
    float: none;
    margin-top: 2rem;
  }
}

@media(max-width: 400px) {
  .nav-logo {
    max-width: 25px;
    margin-top: 25px;
    margin-left: 25px;
  }
}